@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.8%;
}

img {
    display: block;
    max-width: 100%;
}


body {
    font-family: "Raleway", sans-serif;
    background-color: black;
    color: white;
    width: 100vw;
    font-size: 1.6rem;
}


/* Header */

.banner {
    width: 100%;
    height: 60.5rem;
    display: grid;
    place-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url('./assets/images/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 1px solid #33A8DB80;
    padding: 2rem;
}

.banner-conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
    width: 100%;
}

.banner-conteudo h1 {
    color: transparent;
    font-weight: 900;
    background: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
    -webkit-background-clip: text;
}

.banner-conteudo p {
    font-weight: 400;
    line-height: 2.348rem;
    text-align: center;
}

.banner-conteudo button {
    width: 32.6rem;
    height: 3.7rem;
    border: 2px solid;
    background-color: transparent;
    border-image-source: linear-gradient(180deg, #3BA1CD 0%, #1572B7 100%);
    border-image-slice: 1;
    cursor: pointer;
    
    font-weight: 900;
    color: rgba(49, 168, 221, 1);
    text-transform: uppercase;
}




/* Sessão aprender */


.sessao-aprender {
    width: 100%;
    height: 40rem;
    display: grid;
    place-content: center;
    padding: 2rem;
    border-bottom: 1px solid #33A8DB80;
}

.sessao-aprender .conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.3rem;
}

.conteudo h2 {
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(51, 168, 219, 1);
}

.conteudo > p {
    font-size: 1.3rem;
    text-align: justify;
}

.conteudo .modulo {
    font-size: 1.28rem;

    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    justify-content: center;
    align-items: center;

}

.conteudo .modulo div {
    background: rgba(37, 37, 37, 1);
    border-radius: 5.7rem;
    padding-block: 1.6rem;
    padding-inline: .2rem;
}


.conteudo .modulo div span {
    color: rgba(51, 168, 219, 1);
}


/* sessão transforme o mundo */


.sessao-transforme-mundo {
    width: 100%;
    height: 36.3rem;

    background: url('./assets/images/woman-code.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;


    display: flex;
    align-items: center;
}


.sessao-transforme-mundo h2 {
    margin-left: 3rem;
    width: 15rem;
    font-weight: 900;

    color: white;
    text-shadow: 3px 2px #33A8DB;

}


/* sessão evolua */


.sessao-evolua {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5rem 2rem;
    border-bottom: 1px solid #33A8DB80;
    gap: 4rem;
}

.sessao-evolua h3 {
    font-weight: 700;
    color: rgba(51, 168, 219, 1);

}

.sessao-evolua p {
    font-size: 1.28rem;
    text-align: justify;
}


/* footer */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 17rem;
}


.footer p {
    font-size: 1.28rem;
}

.footer span {
    color: rgba(51, 168, 219, 1);
}


@media (min-width: 540px) {
    .banner-conteudo h1 {
        font-size: 4rem;
    }

    .banner-conteudo p {
        font-size: 1.8rem;
    }

    .sessao-aprender .conteudo h2 {
      font-size: 3rem;  
    }

    .sessao-aprender .conteudo > p {
        font-size: 1.5rem;
    }

    .sessao-aprender .conteudo .modulo div {
        font-size: 1.5rem;
        padding-inline: 2rem;
    }
}

