@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    min-height: 100vh;
    background-color: black;
    color: white;
}


.banner {
    width: 100%;
    height: 605px;
    display: grid;
    place-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url('./assets/images/banner.png');
    background-size: cover;
    border-top: 1px solid #33A8DB80;
    border-bottom: 1px solid #33A8DB80;
}


.banner-conteudo {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.banner-conteudo .logo {
    width: 268px;
    height: auto;
}

.banner-conteudo h1 {
    font-size: 2.5rem;
    font-weight: 900;
    color: transparent;
    background: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.banner-conteudo p {
    font-weight: 400;   
    font-size: 1.20rem;
    width: 100%;
    color: rgba(255, 255, 255, 1);
}


.banner-conteudo button {
    padding-inline: 91px;
    padding-block: 19px;
    height: 57px;
    font-size: 1rem;
    background-color: transparent;
    color: rgba(49, 168, 221, 1);
    font-weight: 900;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    border: 2px solid; 
    border: linear-gradient(180deg, #3BA1CD 0%, #1572B7 100%);
    cursor: pointer;
    letter-spacing: 2px;
}



/* Sessão aprender */


.sessao-aprender {
    width: 100%;
    height: 560px;
    display: grid;
    place-content: center;
    border-top: 1px solid #33A8DB80;
    border-bottom: 1px solid #33A8DB80;
}

.sessao-aprender .conteudo {
    width: 792px;
    display: grid;
    gap: 24px;
    text-align: center;
}

.conteudo h2 {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 2px;
    color: rgba(51, 168, 219, 1);
    text-transform: uppercase;
}

.conteudo > p {
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 19px;
}

.modulo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.modulo div {
    width: 535px;
    height: 51px;
    background-color: #252525;
    box-shadow: -2px 6px 4px 0px rgba(0, 0, 0, 0.4) inset;
    border: 1px solid rgba(51, 168, 219, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.modulo div span {
    color: rgba(51, 168, 219, 1);
    font-weight: 400;
}

/* Sessão transforme o mundo */


.transforme-mundo {
    height: 560px;
    background: url('./assets/images/woman-code.png');
    background-attachment: fixed;
    background-size: 100% 100%;
    border-top: 1px solid #33A8DB80;
    border-bottom: 1px solid #33A8DB80;
    position: relative;
}


.transforme-mundo h3 {
    position: absolute;
    top: 150px;
    left: 100px;
    font-size: 40px;
    width: 280px;
    font-weight: 900;
    line-height: 47px;
    text-transform: uppercase;
    text-shadow: 3px 2px #33A8DB;
}